{% extends 'base.html' %}

{% block content %}
<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Servicio</th>
            <th>Horas</th>
            <th>Minutos</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                {{ selected_service }}
            </td>
            <td>
                {{ minutes//60 }}
            </td>
            <td>
                {{ minutes%60 }}
            </td>
        </tr>
        </tbody>
    </table>
    <form id="form" action="{{ url_for('transactions.add') }}" method="post">
        <div class="form-group">
            <label for="service">Servicio</label>
            <select name="service" id="service" class="form-control" selected="{{ selected_service }}" onchange="update_payment()">
            {% for service_name in hourly_prices %}
                <option value="{{ service_name }}">{{ service_name }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="players">Jugadores</label>
            <select name="players" id="players" class="form-control" selected="1" onchange="update_payment()">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="form-group">
            <label for="duration">Duración (minutos)</label>
            <input id="duration" class="form-control" name="duration" type="number" min="30" step="15" value="{{ [minutes, 30]|max }}" onchange="update_payment()">
        </div>
        <div class="form-group">
            <label for="payment">Total (pesos)</label>
            <input id="payment" class="form-control" name="payment" type="number" readonly>
        </div>
        <button type="button" class="btn btn-success apart" onclick="form.submit()">Registrar</button>
    </form>
</div>
<script type="text/javascript">
    const form = document.getElementById('form');
    const service = document.getElementById('service');
    const players = document.getElementById('players');
    const duration = document.getElementById('duration');
    const payment = document.getElementById('payment');
    const hourly_prices = JSON.parse('{{ hourly_prices|tojson }}');
    function update_payment() {
        payment.value = Math.trunc((Math.max(duration.value, 30)/60)*hourly_prices[service.value]*players.value);
    }
    update_payment();
</script>
{% endblock %}
