{% extends 'base.html' %}

{% block content %}
<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Equipo</th>
            <th>Horas</th>
            <th>Minutos</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                {{ selected_service }}
            </td>
            <td>
                {{ minutes//60 }}
            </td>
            <td>
                {{ minutes%60 }}
            </td>
        </tr>
        </tbody>
    </table>
    <form id="form" action="{{ url_for('transactions.add') }}" method="post">
        <div class="form-group">
            <label for="service">Equipo</label>
            <select name="service" id="service" class="form-control" selected="{{ selected_service }}" onchange="update_payment()">
            {% for service_name in hourly_prices %}
	        {% if service_name == selected_service %}
                <option value="{{ service_name }}" selected>{{ service_name }}</option>
		{% else %}
                <option value="{{ service_name }}">{{ service_name }}</option>
		{% endif %}
            {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="quantity">Jugadores</label>
            <select name="quantity" id="quantity" class="form-control" selected="1" onchange="update_payment()">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="form-group">
            <label for="duration">Tiempo (minutos)</label>
            <input id="duration" class="form-control" name="duration" type="number" min="30" step="15" value="{{ [minutes, 30]|max }}" onchange="update_payment()">
        </div>
        <div class="form-group">
            <label for="payment">Total (pesos)</label>
            <input id="payment" class="form-control" name="payment" type="number" readonly>
        </div>
        <button type="button" class="btn btn-success apart" onclick="form.submit()">Registrar</button>
    </form>
</div>
<script type="text/javascript">
    const form = document.getElementById('form');
    const service = document.getElementById('service');
    const quantity = document.getElementById('quantity');
    const duration = document.getElementById('duration');
    const payment = document.getElementById('payment');
    const hourly_prices = JSON.parse('{{ hourly_prices|tojson }}');
    function update_payment() {
        if (service.value == "Quest") {
          rate1 = 80;
          rate2 = 60;
          rate3 = 45;
	} else if (service.value == "PCVR") {
          rate1 = 120;
          rate2 = 90;
          rate3 = 67.5;
        }
        if (quantity.value == 1) {
          mult = 1
        } else if (quantity.value == 2) {
          mult = 1.5
        } else if (quantity.value == 3) {
          mult = 2
	}
        if (duration.value >= 120) {
          payment.value = mult * rate3 * duration.value/60;
        } else if (duration.value >= 90) {
          payment.value = mult * rate3 * 2;
        } else if (duration.value >= 60) {
          payment.value = mult * rate2 * duration.value/60;
        } else if (duration.value >= 45) {
          payment.value = mult * rate2 * 1;
        } else if (duration.value >= 30) {
          payment.value = mult * rate1 * duration.value/60;
        } else {
          payment.value = mult * rate1 * 0.5;
        }
    }
    update_payment();
</script>
{% endblock %}
