{% extends 'base.html' %}

{% block content %}
    <form method="post">
        <div class="form-group">
            <label for="service">Equipo</label>
            <select name="service" id="service" class="form-control">
            {% for service in services %}
                <option value="{{ service.name }}">{{ service.name }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="quantity">Jugadores</label>
            <select name="quantity" id="quantity" class="form-control" selected="1" onchange="update_payment()">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="form-group">
            <label for="duration">Tiempo (minutos)</label>
            <input id="duration" class="form-control" name="duration" type="number" placeholder="Escriba la duración">
        </div>
        <div class="form-group">
            <label for="payment">Total (pesos)</label>
            <input id="payment" class="form-control" name="payment" type="number" placeholder="Escriba el precio total">
        </div>
        <button type="submit" class="btn btn-success apart">Registrar</button>
    </form>
{% endblock %}
