{% extends 'base.html' %}

{% block menu %}
    <li><a href="{{ url_for('transactions.add') }}">Registrar transacción</a></li>
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th colspan="2">Creada en/por</th>
            <th>Servicio</th>
            <th>Cant.</th>
            <th>Dura.</th>
            <th>Pago</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>
                {{ transaction.created_on.strftime('%Y-%m-%d') }}
            </td>
            <td>
                {{ transaction.created_by.name }}
            </td>
            <td>
                {{ transaction.service.name }}
            </td>
            <td>
                {{ transaction.service_quantity }}
            </td>
            <td>
                {{ transaction.service_duration }}
            </td>
            <td>
                {{ transaction.payment }}
            </td>
            <td>
                {{ transaction.status }}
            </td>
            <td>
                {% if transaction.status == 'Paid' and (now - transaction.created_on).total_seconds()/60 < 15 %}
                <a href="{{ url_for('transactions.cancel') }}?id={{ transaction.id }}">Cancelar</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
