{% extends 'base.html' %}

{% block content %}
    <form method="post">
        <div class="form-group">
            <label for="name">Nombre del servicio</label>
            <input name="service_name" type="text" class="form-control" id="name" placeholder="Escriba un nombre">
        </div>
        <div class="form-group">
            <label for="price">Precio por hora</label>
            <input name="hourly_price" type="text" class="form-control" id="price" placeholder="Escriba el precio">
        </div>
        <div class="btn-toolbar">
            <button type="submit" name="submit" value="submit" class="btn btn-success apart">Registrar</button>
        </div>
    </form>
{% endblock %}
