{% extends 'base.html' %}

{% block content %}
    <form method="post">
        <div class="form-group">
            <label for="name">Service Name</label>
            <input name="service_name" type="text" class="form-control" id="name" placeholder="Enter a name">
        </div>
        <div class="form-group">
            <label for="price">Hourly Price</label>
            <input name="hourly_price" type="text" class="form-control" id="price" placeholder="Enter a price">
        </div>
        <div class="btn-toolbar">
            <button type="submit" name="submit" value="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-default" href="https://citio.net/vx/services/">Cancel</a>
        </div>
    </form>
{% endblock %}
